################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Diary/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-4092423302-2523005935-1666253244-1001.pckgdep
